body{
    background-color: #311b92;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    color: #ff4081;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff4081;
    border: none;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f50057;
}

a {
    color: #ff4081;
}

a:hover {
    color: #f50057;
}
