body {
    background-color: #311b92;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #ff4081;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px;
    background-color: #ff4081;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: #f50057;
}
