<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/addMovie.css">
    <title>Add Movie</title>
</head>
<body>
<h2>Add Movie</h2>
<form action="#" th:action="@{/add}" method="post">
    <p>Movie Name: <input type="text" name="movie_name" /></p>
    <p><input type="submit" value="Add Movie" /></p>
</form>
<p><a href="/">Volver a Index</a></p>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>