<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/deleteMovie.css">
    <title>Delete Movie</title>
</head>
<body>
<h2>Delete Movie</h2>
<form action="#" th:action="@{/delete}" th:method="delete">
    <p>Movie ID: <input type="text" name="movie_id" /></p>
    <p><input type="submit" value="Delete Movie" /></p>
</form>
<p><a href="/">Back to Index</a></p>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>
