<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/editMovie.css">
  <title>Edit Movie</title>

</head>
<body>
<h2>Edit Movie</h2>
<form action="#" th:action="@{/update}" method="post"> <!-- Cambiado a método POST -->
  <input type="hidden" name="_method" value="put" /> <!-- Campo oculto para el método PUT Por que como lo vimos en clase no me fincionaba  -->
  <p>Movie ID: <input type="text" name="movie_id" /></p>
  <p>New Movie Name: <input type="text" name="movie_name" /></p>
  <p><input type="submit" value="Update Movie" /></p>
</form>
<p><a href="/">Back to Index</a></p>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>
