<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

<h1>Movies Management</h1>
<div th:each=" peli: ${pelis}">
    <ul>
        <li th:text="${peli.getMovie_name()}"></li>
    </ul>

    <button><a href="">Borrar id</a></button>
</div>
<button><a href="/list">Back to Index</a></button>
</body>
</html>